<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <img class="logo" src="assets/lucca-white.png">
    <span class="text-primary" translate>
        Hello world chat
    </span>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
            <mat-icon class="text-primary" [ngClass]="{'text-grey': theme_control.value==true}">light_mode</mat-icon>
            <mat-slide-toggle [formControl]="theme_control" color="primary"></mat-slide-toggle>
            <mat-icon class="text-primary" [ngClass]="{'text-grey': theme_control.value==false}">nights_stay</mat-icon>
        </div>

        <mat-form-field class="lang">
            <mat-select [(value)]="current_language" (selectionChange)="useLanguage()">
                <mat-option [value]="'en'">English</mat-option>
                <mat-option [value]="'fr'">Français</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

</mat-toolbar>