<div class="my-profile" *ngIf="userService.getConnectedUser()" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center" class="connected-user">
        <div class="user-icon bg-primary-dark">
            <span class="first-letter">{{userService.getConnectedUser().name[0]}}</span>
            <span class="status" [ngClass]="{'online': true}"></span>
        </div>
        <span class="name" (click)="editUser()">{{userService.getConnectedUser().name}}</span>
    </div>
    <button mat-icon-button (click)="editUser()">
        <mat-icon>edit</mat-icon>
    </button>
</div>

<span class="user-nb bg-card" [translate]="'user_number'" [translateParams]="{nb: userService.getOtherUsers()?.length}"></span>

<div class="users-wrapper" fxFlex>
    <div *ngFor="let user of userService.getOtherUsers() | sortByFieldPipe : 'connected' : true" fxLayout="row" fxLayoutAlign="start center" class="user-row list-bg">
        <div class="user-icon bg-primary-dark">
            <span class="first-letter">{{user.name[0]}}</span>
            <span class="status" [ngClass]="{'online': user.connected}" [matTooltip]="user.connected?'Online':'Offline'"></span>
        </div>
        <span class="name">{{user.name}}</span>
    </div>
</div>