@import '~@angular/material/theming';

@mixin component-color($config-or-theme) {
  // Extract the color configuration in case a theme has been passed.
  // This allows consumers to either pass a theme object or a color configuration.
  $config: mat-get-color-config($config-or-theme);
  // Extract the palettes you need from the theme definition.
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $success: map-get($config, success);
  $warn: map-get($config, warn);
  $foreground: map-get($config, foreground);
  $background: map-get($config, background);

  // Define any styles affected by the theme.
  .absolute-field {
    .mat-form-field-flex {
      background-color: map-get($background, card);
    }
  }

  .buttons-container {
    button+button {
      margin-left: 10px;
    }
  }

  .scrollbar-thumb {
    background-color: mat-color($primary);
  }

  .bg-primary-dark {
    background-color: mat-color($primary, 700);
    color: white;
  }
  .bg-primary {
    background-color: mat-color($primary);
    color: white;
  }
  .bg-primary-light {
    background-color: mat-color($primary, 300);
    color: black;
  }

  .bg-accent {
    background-color: mat-color($accent);
  }
  .bg-light-accent {
    background-color: mat-color($accent, 0.5);
  }

  .bg-success {
    background-color: mat-color($success);
  }

  .bg-warn {
    background-color: mat-color($warn);
  }

  .bg-card {
    background-color: mat-color($background, card);
  }

  .list-bg:nth-child(2n+1) {
    background-color: mat-color($foreground, text, 0.12);
  }
  .sub-card-background{
    background: mat-color($foreground, text, 0.04);
  }

  .ql-toolbar.ql-snow{
    background: lightgrey;
  }

  .ql-editor{
    font-size: 1.3em;
    color:  mat-color($foreground, text);
  }

  .ql-editor.ql-blank::before{
    color:  mat-color($foreground, text);
  }
}

@mixin component-theme($theme) {
  // Extracts the color from the theme.
  $color: mat-get-color-config($theme);

  // Do not generate styles if configurations for individual theming
  // systems have been explicitly set to `null`.
  @if $color !=null {
    @include component-color($color);
  }
}