@import '~@angular/material/theming';

@mixin text-color($config-or-theme) {
    // Extract the color configuration in case a theme has been passed.
    // This allows consumers to either pass a theme object or a color configuration.
    $config: mat-get-color-config($config-or-theme);
    // Extract the palettes you need from the theme definition.
    $primary: map-get($config, primary);

    // Define any styles affected by the theme.
    .text-primary {
      color: mat-color($primary);
    }
    .text-grey{
      color: grey;
    }
  }

  @mixin text-theme($theme) {
    // Extracts the color from the theme.
    $color: mat-get-color-config($theme);

    // Do not generate styles if configurations for individual theming
    // systems have been explicitly set to `null`.
    @if $color != null {
      @include text-color($color);
    }
  }