<div class="messages-wrapper" [ngClass]="{'with-quill-msg': show_advanced_editor}">
    <div #message *ngFor="let m of messageService.getMessages()" fxLayout="row" [ngClass]="{'sent': isFromUser(m), 'middle': m.type !== 'msg'}" [ngSwitch]="m.type">
        <div class="message" fxLayout="column"  *ngSwitchCase="'msg'">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="sender">{{getMessageUser(m)}}</span>
                <i class="date">{{m.date | date: 'shortTime'}}</i>
            </div>
            <quill-view class="text" [ngClass]="{'bg-primary':  isFromUser(m), 'bg-card': !isFromUser(m)}" [content]="m.text" [styles]="{'font-size': '1.1em'}"></quill-view>
        </div>
        <div *ngSwitchCase="'welcome'" translate class="user-info">welcome-user</div>
        <div *ngSwitchCase="'new'" translate [translateParams]="{name: m.text}" class="user-info">new-user</div>
        <div *ngSwitchCase="'disconnected'" translate [translateParams]="{name: m.text}" class="user-info">disconnected-user</div>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" class="input-message" [ngClass]="{'quill-msg': show_advanced_editor}">
    <div fxFlex [ngSwitch]="show_advanced_editor" class="editor">
        <quill-editor *ngSwitchCase="true" fxFlex  [(ngModel)]="text_message"
        [placeholder]="'Enter your message here'|translate"
        [modules]="quill_modules"
        [sanitize]="true"
        [styles]="{height: '150px'}">
        </quill-editor>
        <mat-form-field *ngSwitchCase="false" fxFlex appearance="outline">
            <input matInput [(ngModel)]="text_message"
            (keyup.enter)="sendMessage()"
            [placeholder]="'Enter your message here'|translate">
        </mat-form-field>
        <button class="expand-button" mat-icon-button (click)="expandEditor()" [matTooltip]="getExpandEditorTooltip()|translate">
            <mat-icon>{{show_advanced_editor?'unfold_less':'unfold_more'}}</mat-icon>
        </button>
    </div>
    <button class="send-button" mat-mini-fab color="primary" (click)="sendMessage()" [matTooltip]="'Send your message'|translate">
        <mat-icon>send</mat-icon>
    </button>

</div>
